*{
    padding: 0;
    margin: 0;
}
body{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* header Section */

.menu{
    background-color: #000000;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
    position: relative;
    padding: 40px;
}
.menu ul li a{
    color: #b9a9a9;
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;
   
}
.menu ul li:hover > .link{
   color: #fff;
}

/* dropdown menu */

.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 40px;
    background-color: #212121;
    width: 300px;
    transition: 0.4s;
    border-top: 5px solid #3c72da;
    
}
.menu ul li ul li{
    display: block;
    border-bottom: 1px solid #444040;
   position: relative;    
    padding: 20px;
    transition: 0.5s;
}
.menu ul li ul li a{
    color: #fff;
}



/* dropdown menu 2 */

.menu ul li ul li ul.subdrop{
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #212121;
    width: 300px;
    transition: 0.4s;
    border-top: 5px solid #3c72da;
}
.menu ul li ul li ul li{
    display: block;
    border-bottom: 1px solid #444040;
    padding: 20px;
}


/* hover part */


.menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transform: scaley(0);
    transform-origin: top center;
 
}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
    

    
}
.menu ul li ul li:hover{
    
    padding-right: 30px;
    background-color: #3c72da;
}


/* hover part 2 */

.menu ul li ul li ul.subdrop{
    opacity: 0;
    visibility: hidden;
    transform: scaley(0);
    transform-origin: top center;
    
}
.menu ul li ul li:hover ul.subdrop{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
  
}
/* .menu ul li ul li ul li:hover {
    background-color: #3c72da;
} */



/* hero section */

.heroSection{
    background: url(https://i.ibb.co/vsxqb2p/young-mens.jpg) no-repeat center;
    background-size: cover;
    padding: 300px 0;
    width: 100%;
    text-align: center;
}


.hero h1{
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    font-size: 40px;
    letter-spacing: 1px;
}
.hero h3{
    background-color: #fff;
    width: 1130px;
    margin: 20px auto;
    font-size: 22px;
    padding: 5px 0;
    font-weight: 500;
}
.hero a{
    color: #fff;
    display: inline-block;
    background-color: red;
    padding: 13px 20px;
    text-decoration: none;
    font-size: 22px;
    margin: 20px;
    border: 2px solid red;
}
.hero a:hover {

color: #000;
background-color: #fff;
border: 2px solid red;
}

/* outside section */


.outside{
    
margin-top: 30px;
    
padding: 20px 0;
    
border: 1px solid #ddd;
    
/* border-bottom: transparent; */
    
/* border-left: transparent; */
}
.outside h1{
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    padding: 20px 0;
    margin-top: 30px;
}
.outside ul{
    text-align: center;
    padding-bottom: 20px;
    list-style-position: outside;

}
.outside ul li{
    padding: 8px 0;
}


/* inside section */



.inside {
    box-shadow: 0px 0px 20px -15px rgb(83, 83, 156);
    margin-top: 30px;
    padding: 20px 0;
    padding-bottom: 30px;
}
.inside h1{
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    padding: 20px 0;
    margin-top: 30px;
}
.inside ul{
    text-align: center;
    padding-bottom: 20px;
    list-style-position: inside;
}
.inside ul li{
    
padding: 8px 0;
}


/* subscribe section */

.subcribeSection {
    padding: 50px 0;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 40px;
}



.myemail {
    width: 55%;
    padding: 18px 0px 18px 20px;
    border: 1px solid red;
    outline: none;
}
.button {
    width: 15%;
    padding: 21px 0px;
    color: #fff;
    background-color: red;
    border: 1px solid red;
    margin-left: -4px;
    font-size: 15px;
}

.button:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid red;
}

/* list style section */

.listItem1 {
    display: inline-block;
    width: 370px;
    margin-left: 70px;
}
.listItem1 ul{

List-style-type: lower-roman;
}
.listItem2{
    display: inline-block;
    width: 370px;
}
.listItem2 ul{
    list-style-type: square;
}
.listItem3{
    display: inline-block;
    width: 370px;
}
.listItem3 ul{
    
list-style-type: lower-greek;
}
.listStyle h1 {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.listStyle {
    border: 6px dotted #f2f2f2;
    margin-top: 38px;
    padding-bottom: 60px;
}

/* footer section */


.footer{
    background-color: #000;
    padding: 5px 0 25px 0;
}
.footer p{
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.footer ul{
    
text-align: center;
}
.footer ul li{ 
    display: inline-block;
   
}
.footer ul li a{
     display: inline-block;
     background-color: #5ea5fa;
     color: #000;
     height: 40px;
     width: 40px;
     line-height: 40px;
     border-radius: 50%;
     font-size: 20px;
     margin: 5px;
     text-align: center;
}

.footer ul li a:hover{
    background-color: #fff;
}